<%= form_for(@team, :html => {:class => 'form-horizontal well', :multipart => true }) do |f| %>
    <% unless @team.errors.full_messages.empty? %>
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <h3><%= t 'teams.form.correct_errors' %></h3>
            <ul>
                <% @team.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <fieldset>
        <legend>
            <h2><%= t 'activerecord.models.handler' %></h2>
        </legend>

        <% if current_user.superadmin? %>
        <div class="control-group">
            <%= f.label :country_id, :class => 'control-label' %>
            <div class="controls">
                <%= f.country_select :country_id %>
            </div>
        </div>
        <% end %>

        <div class="control-group">
            <%= f.label :first_name, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :first_name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :last_name, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :last_name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :handler_date_of_birth, :class => 'control-label' %>
            <div class="controls">
                <%= f.date_select :handler_date_of_birth, start_year: 1920, end_year: 2010, default: 18.years.until %>
            </div>
        </div>


        <div class="control-group">
            <div class="offset1 span6">
                <%= t('teams.form.insurance_message') %>
            </div>
            <div class="offset2 span3">
                <label class="radio inline"><%= f.radio_button :insurance, true %>Yes</label>
                <label class="radio inline"><%= f.radio_button :insurance, false, checked: true %>No</label>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :picture, :class => 'control-label' %>
            <% if @team.picture_file_name %>
                <div class="span6">
                    <%= image_tag(@team.picture.url(:big_thumb)) %>
                </div>
            <% end %>
            <div class="controls">
                <%= f.file_field :picture %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :number_size, :class => 'control-label' %>
            <div class="controls">
                <%= f.select :number_size, ["XXS", "XS", "S", "M", "L", "XL"] %>
                <a class="btn" href="/number_information" target="_blank"><i class="icon-large icon-question-sign"></i></a>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :individual, :class => 'control-label' %>
            <div class="controls">
                <%= f.check_box :individual %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :squads, :class => 'control-label' %>
            <div class="controls">
                <%= f.check_box :squads %>
            </div>
        </div>
        <div class="control-group">
            <%= f.label :reserve, :class => 'control-label' %>
            <div class="controls">
                <%= f.check_box :reserve %>
            </div>
        </div>
    </fieldset>

    <legend>
        <h2><%= t('activerecord.models.dog') %></h2>
    </legend>

        <fieldset>
            <div class="control-group">
                <%= f.label :pedigree, :class => 'control-label' %>
                <div class="controls">
                    <%= f.file_field :pedigree %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_nickname, :class => 'control-label' %>
                <div class="controls">
                    <%= f.text_field :dog_nickname %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_registered_name, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_registered_name %>
                    <p class="help-block"><%= t('teams.form.this_name_will_be_listed_in_catalogue') %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_sex, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.select(:dog_sex, [[t('teams.form.male'), "M"], [t('teams.form.female'), "F"]]) %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :category, :class => 'control-label' %>
                <div class="controls">
                    <%= f.select(:category, [[t('teams.form.small'), "S"], [t('teams.form.medium'), "M"], [t('teams.form.large'), "L"]]) %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_breed_id, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.select(:dog_breed_id, Breed.find(:all, :order => :name).collect { |p| [p.name, p.id] } ) %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_date_of_birth,  :class => 'control-label' %> 
                <div class="controls">
                    <%= f.date_select :dog_date_of_birth, :start_year => Time.now.year - 20, :end_year => Time.now.year  %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_microchip,  :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_microchip%>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_tatoo, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_tatoo %>
                </div>
            </div>


            <div class="control-group">
                <%= f.label :dog_microchip_position, :class => 'control-label' %> 
                <div class="controls">
                    <%= microchip_position_select(f, :dog_microchip_position) %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_record_book_or_license, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_record_book_or_license %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_studbook_and_number, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_studbook_and_number %>
                </div>
            </div>

            <h3><%= t('activerecord.models.owner') %></h3>

            <div class="control-group">
                <%= f.label :dog_owner_first_name, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_owner_first_name %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_owner_last_name, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_owner_last_name %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_owner_phone_number,  :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_field :dog_owner_phone_number %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :dog_owner_address, :class => 'control-label' %> 
                <div class="controls">
                    <%= f.text_area :dog_owner_address, :rows => 5 %>
                </div>
            </div>
        </fieldset>
        <hr />

    <div class="form-actions">
        <%= f.submit t('teams.form.submit'), :class => 'btn btn-primary' %>
        <%= link_to t('links.teams.back'), teams_path, :class => 'btn' %>
    </div>
<% end %>
