<%= nested_form_for(@handler, :html => {:class => 'form-horizontal', :multipart => true }) do |f| %>
    <% unless @handler.errors.full_messages.empty? %>
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <h3><%= t 'teams.form.correct_errors' %></h3>
            <ul>
                <% @handler.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <h2><%= t 'activerecord.models.handler' %></h2>

    <div class="control-group">
        <%= f.label :first_name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :first_name %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :last_name, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :last_name %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :insurance_company, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :insurance_company %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :insurance_contract_number, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_field :insurance_contract_number %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :picture, :class => 'control-label' %>
        <div class="controls">
            <%= f.file_field :picture %>
        </div>
    </div>

    <h2><%= t('activerecord.models.dogs') %></h2>
    <%= f.fields_for :dogs do |dog_form| %>
        <div class="control-group">
            <%= dog_form.label :nickname,  :class => 'control-label' %>
            <div class="controls">
                <%= dog_form.text_field :nickname %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :registered_name, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :registered_name %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :category, :class => 'control-label' %>
            <div class="controls">
                <%= dog_form.select(:category, [[t('teams.form.small'), "S"], [t('teams.form.medium'), "M"], [t('teams.form.large'), "L"]]) %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :breed_id, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.select(:breed_id, Breed.find(:all, :order => :name).collect { |p| [p.name, p.id] } ) %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :date_of_birth,  :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.date_select :date_of_birth, :start_year => Time.now.year - 20, :end_year => Time.now.year  %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :license, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :license %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :microchip,  :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :microchip %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :microchip_position, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :microchip_position %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :record_book, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :record_book %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :studbook, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :studbook %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :studbook_number, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :studbook_number %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :tatoo, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :tatoo %>
            </div>
        </div>

        <h3><%= t('activerecord.models.owner') %></h3>

        <div class="control-group">
            <%= dog_form.label :owner_first_name, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :owner_first_name %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :owner_last_name, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :owner_last_name %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :owner_phone_number,  :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_field :owner_phone_number %>
            </div>
        </div>

        <div class="control-group">
            <%= dog_form.label :owner_address, :class => 'control-label' %> 
            <div class="controls">
                <%= dog_form.text_area :owner_address, :rows => 5 %>
            </div>
        </div>

        <div class="controls">
            <%= dog_form.link_to_remove t('teams.form.remove_this_dog'), :class => 'btn' %>
        </div>
        <hr>

    <% end %>
    <div class="controls"><%= f.link_to_add t('teams.form.add_dog'), :dogs, :class => 'btn' %></div>
    <div class="form-actions">
        <%= f.submit t('teams.form.submit'), :class => 'btn btn-primary' %>
    </div>
<% end %>
