<h1><%= t 'teams.index.title' %> </h1>
<br />

<table class="table">
  <tr>
      <th><%= t 'teams.form.first_name' %></th>
      <th><%= t 'teams.form.last_name' %></th>
      <th><%= t 'teams.form.actions' %></th>
  </tr>

<% @handlers.each do |handler| %>

  <tr>
      <td><%= handler.first_name %></td>
      <td><%= handler.last_name %></td>
      <td><%= link_to t('links.teams.show'), handler, :class => "btn" %> <%= link_to t('links.teams.edit'), edit_handler_path(handler), :class => "btn" %>
       <%= link_to t('links.teams.destroy'), handler, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('links.teams.new'), new_handler_path, :class => "btn" %>
