<h1><%= @handler.first_name %> <%= @handler.last_name %></h1>
<br />
<h2><%= t('activerecord.models.dogs') %></h2>
<table class="table">
    <tr>
        <th><%= t('teams.form.registered_name') %></th>
        <th><%= t('teams.form.category') %></th>
        <th><%= t('activerecord.attributes.handler/dogs.record_book_or_license') %></th>
        <th><%= t('activerecord.attributes.handler/dogs.studbook_and_number') %></th>
        <th><%= t('activerecord.attributes.handler/dogs.date_of_birth') %></th>
        <th><%= t('activerecord.attributes.handler/dogs.microchip') %></th>
        <th><%= t('teams.form.breed') %></th>
    </tr>
    <% @handler.dogs.each do |dog| %>
    <tr>
        <td><%= dog.registered_name %></td>
        <td><%= dog.category %></td>
        <td><%= dog.record_book_or_license %></td>
        <td><%= dog.studbook_and_number %></td>
        <td><%= dog.date_of_birth %></td>
        <td><%= dog.microchip %></td>
        <td><%= Breed.find(dog.breed_id).name %></td>
    <tr>
    <% end %>
</table>

<% if not current_user.admin? %>
    <%= link_to t('links.teams.edit'), edit_handler_path(@handler), :class => "btn" %>
<% end %>
<%= link_to t('links.teams.back'), handlers_path, :class => "btn" %>
