<h1><%= @handler.first_name %> <%= @handler.last_name %></h1>
<br />
<h2><%= t('teams.form.dogs') %></h2>
<table class="table">
    <tr>
        <th><%= t('teams.form.registered_name') %></th>
        <th><%= t('teams.form.category') %></th>
        <th><%= t('teams.form.breed') %></th>
    </tr>
    <% @handler.dogs.each do |dog| %>
    <tr>
        <td><%= dog.registered_name %></td>
        <td><%= dog.category %></td>
        <td><%= Breed.find(dog.breed_id).name %></td>
    <tr>
    <% end %>
</table>

<%= link_to t('links.teams.edit'), edit_handler_path(@handler), :class => "btn" %>
<%= link_to t('links.teams.back'), handlers_path, :class => "btn" %>
