<h1><%= @team.first_name %> <%= @team.last_name %></h1>
<br />
<h2><%= t('activerecord.models.dog') %></h2>
<table class="table">
    <tr>
        <th><%= t('teams.form.registered_name') %></th>
        <th><%= t('teams.form.category') %></th>
        <th><%= t('activerecord.attributes.team.dog_record_book_or_license') %></th>
        <th><%= t('activerecord.attributes.team.dog_studbook_and_number') %></th>
        <th><%= t('activerecord.attributes.team.dog_date_of_birth') %></th>
        <th><%= t('activerecord.attributes.team.dog_microchip') %></th>
        <th><%= t('activerecord.attributes.team.dog_breed_id') %></th>
    </tr>
    <tr>
        <td><%= @team.dog_registered_name %></td>
        <td><%= @team.category %></td>
        <td><%= @team.dog_record_book_or_license %></td>
        <td><%= @team.dog_studbook_and_number %></td>
        <td><%= @team.dog_date_of_birth %></td>
        <td><%= @team.dog_microchip %></td>
        <td><%= Breed.find(@team.dog_breed_id).name %></td>
    <tr>
</table>

<% if not current_user.admin? %>
    <%= link_to t('links.teams.edit'), edit_team_path(@team), :class => "btn" %>
<% end %>
<%= link_to t('links.teams.back'), teams_path, :class => "btn" %>
