<h1><%= t 'confirmation.payment_information.title' %></h1>
<br />
<% if @payment.confirmed %>
    <p class="alert alert-success">Your payment with id <%= @payment.id + 22220000 %> has been successfully accepted, Thank you.</p>
<% else %>
<p>
<%= t 'confirmation.payment_information.account_number' %> 9269667001/5500<br />
<%= t 'confirmation.payment_information.held_by_raiffeisen_bank' %>, Hvězdova 1716/2B, 140 78 Praha 4<br />
IBAN CZ3755000000009269667001<br />
SWIFT RZBCCZPP<br />
<%= t 'confirmation.payment_information.payment_id' %>: <%= @payment.id + 22220000 %><br />

<%= t 'confirmation.payment_information.total_teams' %>: <%= @payment.total_teams %><br />
<%= t 'confirmation.payment_information.total_assistants_coaches' %>: <%= @payment.total_assistants_coaches %><br />
<%= t 'confirmation.payment_information.total_amount_euro' %>: <%= @payment.price_in_euros %>.00
</p>
<% end %>
