<h2>Create new user</h2>

<%= form_for(@user, :url => new_user_registration_path) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

<% unless current_user.superadmin? %>
    <div><%= f.label :country_id %>
        <%= f.country_select :country_id %></div>
<% end %>

  <div><%= f.submit "Create new user" %></div>
<% end %>
