<% if current_user && (current_user.admin? || current_user.superadmin?) %>
    <h1>Seznam plateb</h1>
    <table class="table">
        <tr>
            <th>Variabilní symbol</th>
            <th>Částka (eur)</th>
            <th>Země</th>
            <th>Potvrzeno</th>
            <th>Akce</th>
        </tr>
        <% if @payments %>
            <% @payments.each do |payment| %>
                <tr>
                    <td><%= 22220000 + payment.id %></td>
                    <td><%= payment.price_in_euros %></td>
                    <td><%= Country.find_country_by_number("0" * (3 - payment.country_id.to_s.length)  + payment.country_id.to_s).name  %></td>
                    <td><% if payment.confirmed %>Ano<% else %><%= link_to "Potvrdit platbu", payment_confirmation_path(:id => payment.id), :class => 'btn', :confirm => 'Opravdu chcete potvrdit platbu s variabilním symbolem %d?' % [(payment.id + 22220000)] %><% end %></td>
                    <td><%= link_to "Smazat", delete_payment_path(payment.id), :method => :delete, :confirm => 'Opravdu chcete smazat platbu s variabilním symbolem %d?' % (payment.id + 22220000), :class => 'btn' %></td>
                </tr>
            <% end %>
        <% end %>
    </table>
<% end %>
