<h1><%= t 'index.number_information.title' %></h1>
<table class="table">
    <thead>
        <th><%= t 'index.number_information.vest_size' %></th>
        <th>XXS</th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
    </thead>
    <tbody>
        <tr>
            <td><%= t 'index.number_information.number_height' %></td>
            <td>40</td>
            <td>45</td>
            <td>50</td>
            <td>55</td>
            <td>60</td>
            <td>65</td>
        </tr>
        <tr>
            <td><%= t 'index.number_information.number_width' %></td>
            <td>40</td>
            <td>43</td>
            <td>46</td>
            <td>49</td>
            <td>52</td>
            <td>55</td>
        </tr>
    </tbody>
</table>

<div class="alert alert-info">
    <p><%= t 'index.number_information.width_not_circumference' %></p>
    <p><%= t 'index.number_information.detailed_info' %></p>
</div>

<%= image_tag "dres_cislo.png" %>
