<%= form_for(@staff_member, :html => {:class => 'form-horizontal well' }) do |f| %>
    <% unless @staff_member.errors.full_messages.empty? %>
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">×</button>
            <h3><%= t 'teams.form.correct_errors' %></h3>
            <ul>
                <% @staff_member.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <fieldset>
        <% if current_user.superadmin? %>
            <div class="control-group">
                <%= f.label :country_id, :class => 'control-label' %>
                <div class="controls">
                    <%= f.country_select :country_id %>
                </div>
            </div>
        <% end %>

        <div class="control-group">
            <%= f.label :full_name, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :full_name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :picture, :class => 'control-label' %>
            <div class="controls">
                <%= f.file_field :picture %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :role_type,  :class => 'control-label' %>
            <div class="controls">
                <%= role_select(f) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :email, :class => 'control-label' %>
            <div class="controls">
                <%= f.email_field :email %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :phone_number, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :phone_number %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :number_size, :class => 'control-label' %>
            <div class="controls">
                <%= f.select :number_size, ["XXS", "XS", "S", "M", "L", "XL"] %>
                <a class="btn" href="/number_information" target="_blank"><i class="icon-large icon-question-sign"></i></a>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :number_name, :class => 'control-label' %>
            <div class="controls">
                <%= f.text_field :number_name %>
            </div>
        </div>

    </fieldset>

    <div class="form-actions">
        <%= f.submit t('teams.form.submit'), :class => 'btn btn-primary' %>
        <%= link_to t('links.teams.back'), staff_members_path, :class => 'btn' %>
    </div>
<% end %>
