<!DOCTYPE html>
<html>
    <head>
        <title><%= t 'application.title' %></title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <%= link_to t('application.title'), root_url, :class => "brand" %>
                    <% if user_signed_in? %>
                        <%= link_to t('links.application.logout'), destroy_user_session_path, :method => :delete, :class => "btn" %>
                    <% else %>
                        <%= link_to t('links.application.login'), new_user_session_path,  :class => "btn" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="button-bar">
                    <div class="btn-group">
                        <%= link_to "cs", root_url(:locale => 'cs'), :class => "btn btn-small" %> 
                        <%= link_to "en", root_url(:locale => 'en'), :class => "btn btn-small" %> 
                        <%= link_to "es", root_url(:locale => 'es'), :class => "btn btn-small" %> 
                        <%= link_to "fr", root_url(:locale => 'fr'), :class => "btn btn-small" %> 
                        <%= link_to "de", root_url(:locale => 'de'), :class => "btn btn-small" %>
                    </div>
                </div>
                <br />
                <ul class="nav nav-tabs nav-stacked">
                    <% if signed_in? %>
                        <% if current_user.superadmin? %>
                            <li><%= link_to t('links.application.new_admin'), new_user_registration_path %></li>
                        <% end %>
                        <% if current_user.admin? %>
                            <li><%= link_to t('links.application.new_user'), new_user_registration_path %></li>
                        <% end %>
                        <% if current_user.user? %>
                            <li><%= link_to t('links.application.teams'), handlers_path %></li>
                        <% end %>
                        <% if current_user.confirm_all and current_user.user? %>
                            <li><%= link_to t('links.application.payment_information'), confirmation_payment_information_path %></li>
                        <% elsif current_user.user? %>
                            <li><%= link_to t('links.application.confirmation'), confirmation_index_path %></li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
            <div class="span9">
                <%= render 'layouts/notices' %>
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
